name = "pulseechoeco"
compatibility_date = "2025-11-29"
compatibility_flags = ["nodejs_compat"]
main = "src/worker.ts"
workers_dev = false
preview_urls = true

[assets]
binding = "ASSETS"
directory = "./out"

[vars]
ENVIRONMENT = "production"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1
